<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Conditions</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-stethoscope fa-fw"></i>Existing Conditions	
            </div>
            {{conditionObject.entry[0].content.text.div}}
            <!-- /.panel-heading -->
            <table class="panel-body">
                <tr ng-repeat="condition in conditionObject.entry">{{condition.content.text.div}}</tr>
            </table>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    </div>
</div>