<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Patient History</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Patient Timeline
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline" ng-if="encounterObject.totalResults !== '0'">
                    <li ng-class="{'timeline-inverted':$index%2 === 0}" ng-repeat="encounter in encounterObject.entry"">
                        <div ng-if = "$index%2 === 0" class="timeline-badge danger"><i class="fa fa-check"></i></div>
                        <div ng-if = "$index%2 === 1" class="timeline-badge info"><i class="fa fa-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title" ng-if="encounter.content.reason.text !== undefined">{{encounter.content.reason.text}}</h4>
                                <h4 class="timeline-title" ng-if="encounter.content.reason.coding.display !== undefined && encounter.content.reason.text === undefined">{{encounter.content.reason.coding.display}}</h4>
                                <p>
                                    <small class="text-muted">Date of Observation: {{encounter.content.period.start}}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Placeholder</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <p ng-if="encounterObject.totalResults === '0'">No history to display</p>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    </div>
</div>