<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><img src='/images/overview.png' style="margin-top: -30px" height="50px" width="50px">&nbsp;Patient at a Glance</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>{{lastName}}, {{firstName}}</h2>
                </div>
                    <div class="panel-body">
                            <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-plus-square fa-fw"></i> Statistics Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group" ng-repeat="entry in patientStats">
                                {{entry.content.name.coding[0].display}}
                                            <span class="pull-right text-muted small"><em><strong>{{entry.content.valueQuantity.value}} {{entry.content.valueQuantity.units}} </strong>{{entry.content.appliesDateTime  | removeTime}}</em>
                                            </span>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                        <div class="chat-panel panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-plus-square fa-fw"></i>
                                Observations
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <ul class="chat">
                                    <li class="left clearfix" ng-repeat="entry in uniqueObservations">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">{{entry.content.name.coding[0].display}}</strong>
                                                <small class="pull-right text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> {{entry.content.appliesDateTime | removeTime}}
                                                </small>
                                            </div>
                                            <p>
                                                {{entry.content.text.div| filterDivs}}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                            <div class="panel-footer">
                            </div>
                            <!-- /.panel-footer -->
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>